.wp_footer{
    margin-top: 200px;
}
.top_footer{
    display: flex;
padding: 20px 0;
}
.top_footer{
    border-top:1px solid gray ;
      border-bottom:1px solid gray ;
      color: black;
      flex-wrap: wrap;
}
.top_footer p .text-link{
    color: black;
}
.top_footer h4{
    font-weight: bold;

}

.host_ft{
    flex-grow: 1;
    text-align: end;
    color: black;

}
.main_ft{
    flex-grow: 2;
}
.bottom_ft{
justify-content: space-between;
}
.param p{
    font-size: 10px;
    color: rgb(170, 159, 159);
}
.icon{
    margin-left: 10px;
    font-size: 20px;
}

.iconfb{

color: rgb(59, 59, 248);

}
.iconsearch{
    color: chartreuse;
}
.iconbook{
    color: orange;
}